.slick-list{
    width: 100%;
}

.slick-slider{
    margin: 0 -30px!important;
    @include breakpoint(max-sm) {
        margin: 0 -15px!important;
    }
    @include breakpoint(xs) {
        margin: 0 -10px!important;
    }
    @include breakpoint(xss) {
        margin: 0 -10px!important;
    }
}

.slider{
    // width: 100%;
    // height: 500px;
    outline: none!important;
    cursor: pointer;
    &-image{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    // @include breakpoint(xss) {
    //     max-height: 170px!important;
    // }
    .image{
        &-mobile{
            display: none;
            @include breakpoint(max-sm) {
                display: block;
            }
        }
        &-desktop{
            @include breakpoint(max-sm) {
                display: none;
            }
        }
    }
}

// Styling the default Slick dots

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
    bottom: 5px!important;
    @include breakpoint(xss) {
        bottom: 15px!important;
    }
	
	list-style-type: none;
	
		li {
			margin: 0 0.25rem!important;
			display: block;
			width: 12px!important;
			height: 12px!important;
			padding: 0!important;
			
			border: none;
			border-radius: 100%;
			background-color: white;
            @include breakpoint(max-sm) {
                width: 8px!important;
			    height: 8px!important;
            }
		}
	
		button {
			display: block!important;
			width: 12px!important;
			height: 12px!important;
			padding: 0!important;
            @include breakpoint(max-sm) {
                width: 8px!important;
			    height: 8px!important;
            }
			
			border: none!important;
			border-radius: 100%;
			// background-color: orange;
			
			text-indent: -9999px;
		}
	
		li.slick-active button {
			background-color: #FFC800;
		}
	
}